# Instructions: Write answers to these questions in jupyter notebook and submit the
# assignment on this drive link upload_link by naming it as
“python_dict_assignment_your_name.ipynb”

# Question 1
# Write a for loop to print numbers from 1 to 10.

In [5]:
for num in range(1,11):
    print(num, end = "  ")

1  2  3  4  5  6  7  8  9  10

# Question 2
# Write a for loop to find the sum of numbers from 1 to 50.

In [9]:
val = 0
for num in range(1,51):
    val = num + val
print(val)

1275

# Question 3
# Write a for loop to print all even numbers between 1 and 20.

In [11]:
for num in range(1,21):
    if num % 2 == 0:
        print(num, end = " ")

2 4 6 8 10 12 14 16 18 20

# Question 4
# Write a for loop to print each character of the string "Python".

In [24]:
string = "Python"
for i in string:
    print(i, end = "   ")

P   y   t   h   o   n

# Question 5
# Write a for loop to iterate through a list of fruits and print each one.

In [26]:
listFruits = ["apple","banana","cherry","mango","strawberry"]
for i in listFruits:
    print(i)

apple
banana
cherry
mango
strawberry

# Question 6
# Write a for loop to calculate the factorial of a given number n (e.g., n=5).

In [35]:
number = int(input("Enter a number :"))
numberFact = 1
for i in range(number,0,-1):
    numberFact = numberFact * i
print(f"the factorial of a given number {number} is {numberFact}")

Enter a number : 6

the factorial of a given number 6 is 720

# Question 7
# Write a for loop to print the squares of numbers from 1 to 10.

In [36]:
for i in range(1,11):
    print(i*i, end = " ")

1 4 9 16 25 36 49 64 81 100

# Question 8
# Write a for loop to iterate through a dictionary and print each key-value pair.

In [39]:
sampleDict = {"make" : "Toyota", "model" : "PriusV", "year" : 2018, "color" : "Purl White"}
for i in sampleDict.items():
    print(i)

('make', 'Toyota')
('model', 'PriusV')
('year', 2018)
('color', 'Purl White')

# Question 9
# Write a for loop to print the first 10 Fibonacci numbers.

In [88]:
# Initialize the first two Fibonacci numbers
a, b = 1, 1

# Print the first 10 Fibonacci numbers
print("The first 10 Fibonacci numbers are:")
for _ in range(10):
    print(a, end=' ')
    a, b = b, a + b

The first 10 Fibonacci numbers are:
1 1 2 3 5 8 13 21 34 55

# Question 10
# Write a for loop to find the maximum number in a list of integers.

In [58]:
numberList = [1,12,3,4,15,6,7,8,19,10]
maxNumber = numberList[0]
for i in range(1,len(numberList)):
    if maxNumber <= numberList[i]:
        maxNumber = numberList[i]       
print(f"the maximum number in a list of integers is {maxNumber}")

the maximum number in a list of integers is 19

# Question 11
# Write a for loop to print the elements of a list in reverse order.

In [3]:
numberList = [1,12,3,4,15,6,7,8,19,10]
for num in numberList[::-1]:
    print(num, end = " ")

10 19 8 7 6 15 4 3 12 1

# Question 12
# Write a for loop to count the number of vowels in a given string.

In [1]:
string = "Write a for loop to count the number of vowels in a given string"
count = 0
for i in string:
    if i.lower() in ("a","e","i","o","u"):
        count = count + 1
print(f"number of vowels in the given string is {count}")

number of vowels in the given string is 20

# Question 13
# Write a for loop to create a new list with the cubes of the elements in an existing list.

In [98]:
numberList = [1,2,13,4,5,16,7,8,9]
cubeNumberList = []
print("cubes of the elements in the existing list :")
for i in range(len(numberList)):
    cubeNumber = numberList[i]*numberList[i]*numberList[i]
    cubeNumberList.append(cubeNumber)
print(cubeNumberList)

cubes of the elements in the existing list :
[1, 8, 2197, 64, 125, 4096, 343, 512, 729]

# Question 14
# Write a for loop to print numbers from 1 to 100, but skip multiples of 5.

In [104]:
print("numbers from 1 to 100 and skip multiples of 5 :")
for i in range(1,101):
    if i % 5 != 0:
        print(i, end = " ")

numbers from 1 to 100 and skip multiples of 5 :
1 2 3 4 6 7 8 9 11 12 13 14 16 17 18 19 21 22 23 24 26 27 28 29 31 32 33 34 36 37 38 39 41 42 43 44 46 47 48 49 51 52 53 54 56 57 58 59 61 62 63 64 66 67 68 69 71 72 73 74 76 77 78 79 81 82 83 84 86 87 88 89 91 92 93 94 96 97 98 99

# Question 15
# Write a for loop to calculate the sum of even numbers in a list.

In [111]:
numberList = [1,2,13,4,5,16,7,8,9]
evenList = []
for i in range(len(numberList)):
    if i % 2 != 0:
        evenList.append(numberList[i])
print(sum(evenList))

30

# Question 16
# Write a for loop to merge two lists into a dictionary (keys from list1, values from list2).

In [30]:
list1 = ["make", "model", "year", "color"]
list2 = ["Toyota", "PriusV", 2018, "Purl White"]

mergeDict = {}  # Initialize an empty dictionary
for i in range(len(list1)):
    mergeDict[list1[i]] = list2[i]  # Use list1 elements as keys and list2 elements as values
print(mergeDict)

{'make': 'Toyota', 'model': 'PriusV', 'year': 2018, 'color': 'Purl White'}

# Question 17
# Write a for loop to print the multiplication table of 7.

In [138]:
print("The Multiplication Table of 7")
for i in range(1,13):
    val = 7*i
    if 1 <= i <= 9:
        print("7 x ", i ,"  =  ",val)
    else:
        print("7 x ", i ," =  ",val)
    print()

The Multiplication Table of 7
7 x  1   =   7

7 x  2   =   14

7 x  3   =   21

7 x  4   =   28

7 x  5   =   35

7 x  6   =   42

7 x  7   =   49

7 x  8   =   56

7 x  9   =   63

7 x  10  =   70

7 x  11  =   77

7 x  12  =   84

# Question 18
# Write a for loop to find the common elements between two lists.

In [1]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]
commonList = []
for i in list1:
    for j in list2:
        if i == j:
            commonList.append(i)
print("common elements between two lists :",commonList)

common elements between two lists : [4, 5]

# Question 19
# Write a for loop to remove all the duplicates from a list.

In [2]:
list1 = [1, 2, 3, 14, 5, 3, 15, 8, 9, 2, 3,10,5]

# Initialize an empty list to store unique elements
unique_list = []

# Initialize a set to track seen elements
seen = set()

# Iterate over the list
for i in list1:
    # Check if the element has been seen before
    if i not in seen:
        # Add the element to the unique list
        unique_list.append(i)
        # Add the element to the seen set
        seen.add(i)

# Print the list without duplicates
print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 14, 5, 15, 8, 9, 10]

# Question 20
# Write a for loop to generate a list of the first 10 prime numbers.

In [10]:
# use ChatGPT help
# Initialize an empty list to store prime numbers
prime_numbers = []

# Start checking from the first prime number, which is 2
number = 2

# Loop until we have found 10 prime numbers
# use a number in the range function to see if 10 prime numbers are found
# for loop is not an ideal loop for this problem 
for count in range(28):
    # Assume the number is prime until proven otherwise
    is_prime = True

    # Check if the number is divisible by any number less than itself
    for i in range(2, number):
        if number % i == 0:
            is_prime = False
            break

    # If the number is prime, add it to the list and increment the count
    if is_prime:
        prime_numbers.append(number)

    # Move to the next number
    number += 1

# Print the list of the first 10 prime numbers
print("The first 10 prime numbers are:", prime_numbers)

The first 10 prime numbers are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]