# List Assignment 
Instructions: Write answers to these questions in jupyter notebook and submit the assignment in this drive upload_link by naming it as 
“python_list_assignment_batch_name_your_name.ipynb”

1. Create a list named `my_list` containing the integers 1, 2, and 3.

In [ ]:
my_list = [1,2,3]

2. Print the second element of `my_list`.

In [1]:
my_list = [1,2,3]
print(my_list[1])

2

3. Use list slicing to print the sublist [2, 3] from `my_list`.

In [3]:
my_list = [1,2,3]
print(my_list[1:3])

[2, 3]

4. Concatenate `my_list` with another list [4, 5, 6] and print the result.

In [9]:
my_list = [1,2,3]
other_list = [4,5,6]
my_list.extend(other_list)
print(my_list)

[1, 2, 3, 4, 5, 6]

5. Create a list of strings: `colors = ['red', 'blue', 'green']`. Append the string 'yellow' to the list and print the updated list.

In [10]:
colors = ['red', 'blue', 'green']
colors.append('yellow')
print(colors)

['red', 'blue', 'green', 'yellow']

6. Create a list containing duplicate elements, such as `[1, 2, 2, 3, 3, 3]`. Count and print the number of occurrences of the element 3.

In [2]:
num_list = [1, 2, 2, 3, 3, 3]
count_3 = num_list.count(3)
print(count_3)

3

7. Sort the list `[5, 3, 8, 1, 2]` in ascending order and print the sorted list.

In [3]:
num_list = [5, 3, 8, 1, 2]
num_list.sort()
print(num_list)

[1, 2, 3, 5, 8]

8. Write a program that takes a list of numbers as input and calculates the sum of all elements in the list.

In [4]:
num_list = [1,2,3,4,5,6,7,8,9,10]
print(sum(num_list))

55

9. Use list comprehension to create a list of squares of numbers from 1 to 5.

In [9]:
num_list = [1,2,3,4,5]
sqre_list = [x*x for x in num_list]
print(sqre_list)

[1, 4, 9, 16, 25]

10. Reverse the list `[1, 2, 3, 4, 5]` using slicing.

In [19]:
num_list = [1, 2, 3, 4, 5]
print(num_list[::-1])

[5, 4, 3, 2, 1]

11. Write a program that takes two lists as input and merges them into a single sorted list.

In [17]:
first_list = ['apple','banana','mango']
second_list = ['cherry','papaya','melon']
first_list.extend(second_list)
first_list.sort()
print(first_list)

# OR

first_list = ['apple','banana','mango']
second_list = ['cherry','papaya','melon']
y = first_list + second_list
print(sorted(y))

['apple', 'banana', 'cherry', 'mango', 'melon', 'papaya']
['apple', 'banana', 'cherry', 'mango', 'melon', 'papaya']

 12. Remove the element 'green' from the list `colors = ['red', 'blue', 'green', 'yellow']` and print the modified list.

In [22]:
colors = ['red', 'blue', 'green', 'yellow']
colors.remove('green')
print(colors)

['red', 'blue', 'yellow']

13. Remove the last element from the list `[10, 20, 30, 40, 50]` and print the modified list.

In [23]:
num_list = [10, 20, 30, 40, 50]
num_list.pop()
print(num_list)

[10, 20, 30, 40]

14. Find the index of the element 25 in the list `[10, 15, 20, 25, 30]` and print the index.

In [24]:
num_list = [10, 15, 20, 25, 30]
print(num_list.index(25))

3

15. Check if the list `[1, 2, 3]` is a subset of the list `[1, 2, 3, 4, 5]`.

In [8]:
# Note: Used ChatGPT to solve this problem

# Method 1: Using sets
list1 = [1, 2, 3]
list2 = [1, 2, 3, 4, 5]

is_subset = all(i in list2 for i in list1)
if is_subset == True:
    print("list1 is a subset of list2")
else:
    print("list1 is NOT a subset of list2")

# OR 

# Method 2: Converting to sets and using issubset()
list1 = [1, 2, 3]
list2 = [1, 2, 3, 4, 5]

set1 = set(list1)
set2 = set(list2)
is_subset = set1.issubset(set2)
if is_subset == True:
    print("list1 is a subset of list2")
else:
    print("list1 is NOT a subset of list2")

list1 is a subset of list2
list1 is a subset of list2

17. Find and print the maximum and minimum elements in the list `[10, 5, 20, 8, 15]`.

In [1]:
num_list = [10, 5, 20, 8, 15]
print("Maximum number is :",max(num_list))
print("Minimum number is :",min(num_list))

Maximum number is : 20
Minimum number is : 5

18. Join the elements of a list ['apple', 'banana', 'cherry'] into a single string separated by commas.

In [34]:
f_list = ['apple', 'banana', 'cherry']
x = ",".join(f_list)
print(x)

apple,banana,cherry

19. Write a program that takes a list of numbers and removes all even numbers from the list.

In [38]:
num_list = [1,2,3,4,5,6,7,8,9,10]
newlist =[]
for i in num_list:
    if i%2 != 0:
        newlist.append(i)
print(newlist)

[1, 3, 5, 7, 9]

20. Use list comprehension to create a list of tuples where each tuple contains an element and its square, for numbers from 1 to 5.

In [21]:
num_tuple = (1,2,3,4,5)
num_list = list(num_tuple)
sqr_num = [(x,x*x) for x in num_list]
print(sqr_num)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]