# Instructions: Write answers to these questions in a Jupyter notebook and submit the assignment in 
this drive upload link here by naming it as “python_tuple_assignment_batch_name_your_name.ipynb”

1. What is a tuple in Python?

In [ ]:
row of strings or/and numbers and/or characters separated by commas stored in round brackets

2. How do you create a tuple in Python? Provide an example.

In [45]:
tuple1 = tuple(('apple','banana','cherry'))
tuple2 = tuple((1,2,3,4,5,6,7))
tuple3 = tuple(('apple','banana',3,4,5,6,7,'cherry',5,7,'#'))
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 2, 3, 4, 5, 6, 7)
('apple', 'banana', 3, 4, 5, 6, 7, 'cherry', 5, 7, '#')

3. How is a tuple different from a list in Python?

In [ ]:
# tuple
1. intergers/strings/special characters are stored in any combination inside a round bracket
2. can be indexed
3. immutable(unchangeable)
4. duplicated
5. ordered

# list
1. intergers or strings are stored in square brackets separately
2. can be indexed
3. mutable(changeable)
4. duplicated
5. ordered

4. Can a tuple contain elements of different data types? Provide an example.

In [20]:
# Yes, tuple contains elements of different data types.
tuple3 = ('apple','banana',3,4,5,6,7,'cherry',5,7,'#')
print(tuple3)
print(type(tuple3[0]))
print(type(tuple3[3]))
print(type(tuple3[-1]))

('apple', 'banana', 3, 4, 5, 6, 7, 'cherry', 5, 7, '#')
<class 'str'>
<class 'int'>
<class 'str'>

5. How can you access elements in a tuple?

In [21]:
tuple3 = ('apple','banana',3,4,5,6,7,'cherry',5,7,'#')
print(tuple3[0])
print(tuple3[3])
print(tuple3[-1])

apple
4
#

6. How do you slice a tuple in Python?

In [22]:
tuple3 = ('apple','banana',3,4,5,6,7,'cherry',5,7,'#')
print(tuple3[2:6])
print(tuple3[6:])

(3, 4, 5, 6)
(7, 'cherry', 5, 7, '#')

7. What will be the output of the following code: `tuple1 = (1, 2, 3, 4); print(tuple1[1])`?

In [ ]:
2

8. Can you modify elements of a tuple? Explain your answer.

In [23]:
# No, elements of a tuple can't be modified. 
tuple3 = ('apple','banana',3,4,5,6,7,'cherry',5,7,'#')
tuple3[1] = 'strawberry'
print(tuple3)

TypeError: 'tuple' object does not support item assignment

9. How can you concatenate two tuples in Python? Provide an example.

In [25]:
tuple1 = ('apple','banana','cherry')
tuple2 = (1,2,3,4,5,6,7)
tuple4 = tuple1 + tuple2
print(tuple4)

('apple', 'banana', 'cherry', 1, 2, 3, 4, 5, 6, 7)

10. How can you find the length of a tuple in Python?

In [26]:
tuple3 = ('apple','banana',3,4,5,6,7,'cherry',5,7,'#')
print(len(tuple3))

11

11. What will be the output of the following code: `tuple1 = (1, 2, 3); tuple2 = (4, 5, 6); print(tuple1 + tuple2)`?

In [ ]:
(1,2,3,4,5,6)

12. How can you convert a list into a tuple in Python? Provide an example.

In [31]:
list1 = ['a','b','c','d','e']
print(list1)
print(type(list1))
tuple5 = tuple(list1)
print(tuple5)
print(type(tuple5))

['a', 'b', 'c', 'd', 'e']
<class 'list'>
('a', 'b', 'c', 'd', 'e')
<class 'tuple'>

13. How do you check if an element exists within a tuple?

In [40]:
tuple3 = ('apple','banana','cherry')
if 'cherry' in tuple3:
    print("the element 'cherry' exists")
else:
    print("the element 'cherry' does not exist")

the element 'cherry' exists

14. What will be the output of the following code: `tuple1 = ('a', 'b', 'c', 'd'); print(tuple1[-1])`?

In [ ]:
d

15. How can you iterate through a tuple using a for loop? Provide an example.

In [41]:
tuple1 = ('apple','banana','cherry')
for i in range(len(tuple1)):
    print(tuple1[i])

apple
banana
cherry

16. What is tuple unpacking in Python? Provide an example.

In [47]:
tuple1 = ('apple','banana','cherry')
(x1,x2,x3) = tuple1
print(x1)
print(x2)
print(x3)

# OR

fruits = ('apple','banana','cherry','strawberry')
(y1,*y2,y3) = fruits
print(y1)
print(y2)
print(y3)

apple
banana
cherry
apple
['banana', 'cherry']
strawberry

17. How can you create a tuple with a single element? Provide an example.

In [42]:
tuple1 = ('apple',)
print(tuple1)

('apple',)

18. What will be the output of the following code: `tuple1 = (1, 2, 3); tuple1[0] = 0`?

In [ ]:
Error message

19. Explain the immutability of tuples in Python.

In [49]:
# Tuples are immutable(unchangeable): once the tuple has been created, we cannot change, add, or remove items
fruits = ('apple','banana','cherry','strawberry')
fruits[2]='mango'
print(fruits)

TypeError: 'tuple' object does not support item assignment

20. How can you find the index of an element in a tuple?

In [48]:
fruits = ('apple','banana','cherry','strawberry')
print(fruits.index('cherry'))

2