# Instructions: Write answers to these questions in jupyter notebook and submit the
# assignment on this drive link upload_link by naming it as “python_dict_assignment_your_name.ipynb”
# Sample Dictionary
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}

1. Add a new key-value pair to sample_dict where the key is 'Frank' and the value is 28.

In [10]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
sample_dict.update({'Frank':28})
print(sample_dict)

{'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22, 'Frank': 28}

2. Remove the key 'Charlie' from sample_dict.

In [12]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
sample_dict.pop('Charlie')
print(sample_dict)

{'Alice': 25, 'Bob': 30, 'David': 40, 'Emily': 22}

3. Check if the key 'Alice' exists in sample_dict and print the result.

In [13]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
if 'Alice' in sample_dict.keys():
    print("the key 'Alice' exists in sample_dict")
else:
    print("the key 'Alice' does NOT exist in sample_dict")

the key 'Alice' exists in sample_dict

4. Print all keys of sample_dict.

In [14]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
print(sample_dict.keys())

dict_keys(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])

5. Print all values of sample_dict.

In [15]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
print(sample_dict.values())

dict_values([25, 30, 35, 40, 22])

6. Print all key-value pairs of sample_dict.

In [16]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
print(sample_dict.items())

dict_items([('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 40), ('Emily', 22)])

7. Find the length of sample_dict.

In [17]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
print(len(sample_dict))

5

8. Check if the value 30 exists in sample_dict and print the result.

In [18]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
if 30 in sample_dict.values():
    print("the value 30 exists in sample_dict")
else:
    print("the value 30 does NOT exist in sample_dict")

the value 30 exists in sample_dict

9. Get the maximum value from sample_dict and print it.

In [34]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
print(max(sample_dict.values()))

40

10. Get the key corresponding to the maximum value in sample_dict and print it.

In [55]:
sample_dict = {'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}

# Find the key corresponding to the maximum value
max_key = max(sample_dict, key=sample_dict.get)

# Print the key
print(max_key)

David

11. Remove all items from sample_dict.

In [37]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
sample_dict.clear()
print(sample_dict)

{}

12. Create a new dictionary ages_over_30 containing only the key-value pairs from
sample_dict where the age is over 30.

In [50]:
# Sample dictionary
sample_dict = {'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}

# Initialize an empty dictionary to store the result
new_dict_over30 = {}

# Iterate over the key-value pairs in the sample dictionary
for key, value in sample_dict.items():
    if value > 30:
        new_dict_over30[key] = value

# Print the new dictionary
print(new_dict_over30)

{'Charlie': 35, 'David': 40}

13. Multiply all values in sample_dict by 2.

In [67]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
sample_dict_dbl = {key: value*2 for key, value in sample_dict.items()}

print(sample_dict_dbl)

{'Alice': 50, 'Bob': 60, 'Charlie': 70, 'David': 80, 'Emily': 44}

14. Combine sample_dict with another dictionary extra_dict containing the key-value pairs
{'Gary': 45, 'Hannah': 20}.

In [70]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
extra_dict = {'Gary': 45, 'Hannah': 20}
sample_dict.update(extra_dict)
print(sample_dict)

{'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22, 'Gary': 45, 'Hannah': 20}

15. Print all keys in sample_dict that have the value 22.

In [89]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
value_22 = {key: 22 for value in sample_dict.items()}
print(value_22.keys())

dict_keys(['Emily'])

16. Get the sum of all values in sample_dict.

In [92]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
all_values = {value for value in sample_dict.values()}
print(sum(all_values))

152

17. Sort sample_dict by its keys and print the sorted dictionary.

In [157]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
sorted_keys_sample_dict = {key: value for key, value in sorted(sample_dict.items(), key=lambda item: item[0])}
print(sorted_keys_sample_dict)

{'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}

18. Sort sample_dict by its values and print the sorted dictionary.

In [154]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}

# Sort the dictionary by values and create a new dictionary
sorted_values_sample_dict = {key: value for key, value in sorted(sample_dict.items(), key=lambda item: item[1])}

# Print the sorted dictionary
print(sorted_values_sample_dict)

{'Emily': 22, 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40}

19. Check if sample_dict is empty and print the result.

In [160]:
sample_dict = {}
if not sample_dict:
    print('sample_dict is empty')
else:
    print('sample_dict is NOT empty')

sample_dict is empty

20. Convert sample_dict to a list of tuples, where each tuple contains a key-value pair.

In [161]:
sample_dict = { 'Alice': 25, 'Bob': 30, 'Charlie': 35, 'David': 40, 'Emily': 22}
sample_tuple = tuple(sample_dict.items())
print(sample_tuple)

(('Alice', 25), ('Bob', 30), ('Charlie', 35), ('David', 40), ('Emily', 22))