# Instructions: Write answers to these questions in jupyter notebook and submit the
assignment on this drive link upload_link by naming it as
“python_sets_assignment__batch_name_your_name.ipynb”

QueA. Set A = {1, 2, 3, 4, 5} and Set B = {4, 5, 6, 7, 8}
a. What is the union of Set A and Set B?
b. What is the intersection of Set A and Set B?
c. What is the difference between Set A and Set B?
d. What is the symmetric difference between Set A and Set B?
e. Is Set A a subset of Set B?

In [3]:
# a. What is the union of Set A and Set B?
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
setZ = setA.union(setB)
print(setZ)

{1, 2, 3, 4, 5, 6, 7, 8}

In [4]:
# b. What is the intersection of Set A and Set B?
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
setZ = setA.intersection(setB)
print(setZ)

{4, 5}

In [5]:
# c. What is the difference between Set A and Set B?
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
setZ = setA.difference(setB)
print(setZ)

{1, 2, 3}

In [6]:
# d. What is the symmetric difference between Set A and Set B?
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
setZ = setA.symmetric_difference(setB)
print(setZ)

{1, 2, 3, 6, 7, 8}

In [7]:
# e. Is Set A a subset of Set B?
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
subsetZ = setA.issubset(setB)
print(subsetZ)

False

# 1. Basic Operations

In [8]:
# 1.1 Create a set with the elements {1, 2, 3, 4, 5} and add the element 6 to it.
set1 = {1,2,3,4,5}
set1.add(6)
print(set1)

{1, 2, 3, 4, 5, 6}

In [12]:
# 1.2 Write a program to remove an element from a set if it exists. If it doesn’t exist, print a message.
set1 = {1,2,3,4,5}
if 3 in set1:
    set1.remove(3)
    print(set1)
else:
    print("number doesn't exist")

{1, 2, 4, 5}

# 2. Set Methods

In [13]:
# 2.1 Given two sets, set1 = {1, 2, 3, 4} and set2 = {3, 4, 5, 6}, find their intersection.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set3 = set1.intersection(set2)
print(set3)

{3, 4}

In [14]:
# 2.2 Write a program to find the union of three sets: {1, 2}, {2, 3}, and {3, 4}.
set1 = {1, 2}
set2 = {2, 3}
set3 = {3, 4}
set4 = set1.union(set2,set3)
print(set4)

{1, 2, 3, 4}

# 3. Set Operations

In [15]:
# 3.1 Create a set and determine if it is a subset of another set.
set1 = {'apple','banana','cherry'}
set2 = {'strawberry','banana','mango','apple','melon','cherry'}
set3 = set1.issubset(set2)
if set3 == True:
    print("set1 is a subset of set2")
else:
    print("set1 is NOT a subset of set2")

set1 is a subset of set2

In [19]:
# 3.2 Write a function that checks whether one set is disjoint with another set (i.e., their intersection is empty).
set1 = {'apple','banana','cherry'}
set2 = {'strawberry','mango','melon'}
set3 = set1.isdisjoint(set2)
if set3 == True:
    print("set1 is disjoint with set2")
else:
    print("set1 is NOT disjoint with set2")

set1 is disjoint with set2

# 4. Set Comprehensions

In [20]:
# 4.1 Use a set comprehension to create a set of squares of numbers from 1 to 10.
set1 = {1,2,3,4,5,6,7,8,9,10}
sqre_set1 = {x*x for x in set1}
print(sqre_set1)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [55]:
# 4.2 Write a set comprehension to extract all unique vowels from a given string.
mystr = "Write a set comprehension to extract all unique vowels from a given string"
unique_vowel = {x for x in mystr.lower() if x == 'a' or x== 'e' or  x == 'i' or x == 'o' or x == 'u'}
print(unique_vowel)

{'u', 'a', 'o', 'i', 'e'}

# 5. Set Properties

In [22]:
# 5.1 Write a program to find the difference between two sets and return it as a new set.
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
setA.difference_update(setB)
print(setA)

{1, 2, 3}

In [1]:
# 5.2 Create a set of integers from 1 to 20 and use set methods to remove even numbers.
set1 = {1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20}
odd_set1 = {x for x in set1 if x%2 != 0}
print(even_set1)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

# 6. Applications of Sets

In [2]:
# 6.1 Write a function that returns the symmetric difference between two sets.
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8}
setZ = setA.symmetric_difference(setB)
print(setZ)

{1, 2, 3, 6, 7, 8}

In [4]:
# 6.2 Given a list of words, use sets to remove duplicate words and print the unique set of words.
set1 = {'apple', 'banana','cherry',1,2,3,0,'apple',True,'male', False}
print(set1)

{0, 1, 2, 3, 'apple', 'male', 'cherry', 'banana'}

# 7. Set Equality and Membership

In [10]:
# 7.1 Write a function to check if two sets are equal.
set1 = {'apple', 'banana','cherry',2,3,0,True,'male'}
set2 = {'banana','cherry',1,3,2,'apple','male', False}
if len(set1) == len(set2) and set1.issubset(set2) ==True:
    print('Two sets are equal')
else:
    print('Two sets are NOT equal')

Two sets are equal

In [5]:
# 7.2 Create a set and check if a specific element is in it.
set1 = {'apple','banana','cherry'}
if 'banana' in set1:
    print("Yes, 'banana' is in set1")
else:
    print("No, 'babnana' is NOT in set1")

Yes, 'banana' is in set1

# 8. Advanced Set Operations

In [15]:
# 8.1 Write a program to find all subsets of a given set. (Got help from ChatGPT)
def get_all_subsets(input_set):
    # Convert the set to a list for easier manipulation
    input_list = list(input_set)
    n = len(input_list)
    
    # Initialize a list to hold all subsets
    all_subsets = []
    
    # There are 2^n possible subsets (including the empty set and the set itself)
    for i in range(2**n):
        subset = []
        for j in range(n):
            # Check if the j-th element is in the i-th subset
            if (i & (1 << j)) > 0:
                subset.append(input_list[j])
        all_subsets.append(subset)
    
    return all_subsets

# Given set
set1 = {'apple', 'banana', 'cherry'}

# Get all subsets
subsets = get_all_subsets(set1)

# Print all subsets
for subset in subsets:
    print(subset)

[]
['apple']
['banana']
['apple', 'banana']
['cherry']
['apple', 'cherry']
['banana', 'cherry']
['apple', 'banana', 'cherry']

In [16]:
# 8.2 Implement a function to compute the Cartesian product of two sets.(Got help from ChatGPT)
def cartesian_product(set1, set2):
    # Initialize an empty list to store the Cartesian product
    product = []
    
    # Iterate over each element in the first set
    for a in set1:
        # Iterate over each element in the second set
        for b in set2:
            # Append the ordered pair (a, b) to the product list
            product.append((a, b))
    
    return product

# Example usage:
set1 = {1, 2}
set2 = {'a', 'b'}

# Compute the Cartesian product
result = cartesian_product(set1, set2)

# Print the result
print(result)

[(1, 'b'), (1, 'a'), (2, 'b'), (2, 'a')]

# 9. Set and Lists

In [11]:
# 9.1 Convert a list of numbers into a set and then back to a list. Ensure that duplicates are removed.
list1 = ['apple', 'banana','cherry',2,3,0,True,'male','apple',False,1]
set1 = set(list1)
list2 = list(set1)
print(list2)

[0, True, 2, 3, 'apple', 'male', 'cherry', 'banana']

In [12]:
# 9.2 Given a list of tuples, use sets to find and remove duplicate tuples.
tuple1 = ('apple', 'banana','cherry',2,3,0,True,'male','banana',False,1,34,2)
set1 = set(tuple1)
tuple2 = tuple(set1)
print(tuple2)

(0, True, 2, 3, 'apple', 'male', 34, 'cherry', 'banana')

# 10. Performance and Efficiency

In [17]:
# 10.1 Compare the performance of sets and lists for checking membership and discuss the differences.
set1 = {'apple', 'banana','cherry',2,3,0,True,'male','banana',False,1,34,2}
if 'banana' in set1:
    print('banana is in the set')
else:
    print('banana is NOT in the set')
list1 = ['apple', 'banana','cherry',2,3,0,True,'male','banana',False,1,34,2]
if 'banana' in list1:
    print('banana is in the list')
else:
    print('banana is NOT in the list')

# Sets: Faster membership checks (O(1)), no duplicates, unordered. Sets are implemented as hash tables.
# Lists: Slower membership checks (O(n)), allows duplicates, ordered. Lists are implemented as dynamic arrays
# checking membership with sets is faster and more efficient due to their underlying hash table implementation, 
# making them particularly effective in large datasets.

banana is in the set
banana is in the list

In [19]:
# 10.2 Write a program to measure the time taken to add elements to a set versus a list. (Got help from ChatGPT)
import time

# Number of elements to add
num_elements = 1000000

# Measure time to add elements to a set
start_time_set = time.time()
my_set = set()
for i in range(num_elements):
    my_set.add(i)
end_time_set = time.time()
time_taken_set = end_time_set - start_time_set

# Measure time to add elements to a list
start_time_list = time.time()
my_list = []
for i in range(num_elements):
    my_list.append(i)
end_time_list = time.time()
time_taken_list = end_time_list - start_time_list

# Print the results
print(f"Time taken to add {num_elements} elements to a set: {time_taken_set:.6f} seconds")
print(f"Time taken to add {num_elements} elements to a list: {time_taken_list:.6f} seconds")

Time taken to add 1000000 elements to a set: 0.141000 seconds
Time taken to add 1000000 elements to a list: 0.082915 seconds