In [11]:
import pandas as pd

In [15]:
df=pd.read_csv('UP_2022 (2).csv')

In [17]:
df.head()

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5

In [19]:
df.tail()

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
4840,403,HRIDAY KUMAR,Independent,1853,0.91,7
4841,403,ASHOK KUMAR,Jan Adhikar Party,1758,0.86,8
4842,403,MISHRI LAL,Independent,1317,0.64,9
4843,403,KRIPASHANKAR,All India Peoples' Front (Radical),894,0.44,10
4844,403,PUSHPA DEVI,Aam Aadmi Party,830,0.41,11

In [21]:
df.describe()

             ac_no    Total Votes   % of Votes         Rank
count  4845.000000    4845.000000  4845.000000  4845.000000
mean    205.436533   19022.269556     8.317882     6.815067
std     116.378667   35774.657909    15.358766     3.984598
min       1.000000      49.000000     0.020000     1.000000
25%     103.000000     531.000000     0.230000     4.000000
50%     209.000000    1185.000000     0.530000     7.000000
75%     307.000000   11396.000000     5.170000    10.000000
max     403.000000  322882.000000    70.160000    26.000000

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4845 entries, 0 to 4844
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ac_no        4845 non-null   int64
 1   Candidate    4845 non-null   object
 2   Party        4845 non-null   object
 3   Total Votes  4845 non-null   int64
 4   % of Votes   4845 non-null   float64
 5   Rank         4845 non-null   int64
dtypes: float64(1), int64(3), object(2)
memory usage: 227.2+ KB

In [27]:
df['Candidate']

0       Umar Ali Khan
1        Naresh Saini
2          Rais Malik
3       Poonam Kamboj
4        Sushil Kumar
            ...
4840     HRIDAY KUMAR
4841      ASHOK KUMAR
4842       MISHRI LAL
4843     KRIPASHANKAR
4844      PUSHPA DEVI
Name: Candidate, Length: 4845, dtype: object

In [29]:
type(df['Candidate'])

pandas.core.series.Series

In [33]:
df[['Candidate']]

          Candidate
0     Umar Ali Khan
1      Naresh Saini
2        Rais Malik
3     Poonam Kamboj
4      Sushil Kumar
...             ...
4840   HRIDAY KUMAR
4841    ASHOK KUMAR
4842     MISHRI LAL
4843   KRIPASHANKAR
4844    PUSHPA DEVI

[4845 rows x 1 columns]

In [35]:
type(df[['Candidate']])

pandas.core.frame.DataFrame

In [37]:
df[['Candidate','Rank']]

          Candidate  Rank
0     Umar Ali Khan     1
1      Naresh Saini     2
2        Rais Malik     3
3     Poonam Kamboj     4
4      Sushil Kumar     5
...             ...   ...
4840   HRIDAY KUMAR     7
4841    ASHOK KUMAR     8
4842     MISHRI LAL     9
4843   KRIPASHANKAR    10
4844    PUSHPA DEVI    11

[4845 rows x 2 columns]

In [47]:
df[df['Rank']==1]

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
9,2,MUKESH CHOUDHARY,Bharatiya Janata Party,104114,38.47,1
21,3,RAJEEV GUMBER,Bharatiya Janata Party,143195,48.85,1
34,4,Ashu Malik,Samajwadi Party,107007,41.18,1
49,5,BRIJESH,Bharatiya Janata Party,93890,38.77,1
...,...,...,...,...,...,...
4786,399,RAMA SHANKAR SINGH,Bharatiya Janata Party,105377,44.51,1
4801,400,Dr. Anil Kumar Maurya,Bharatiya Janata Party,101277,40.46,1
4814,401,Bhupesh Chaubey,Bharatiya Janata Party,84496,40.29,1
4825,402,SANJEEV KUMAR,Bharatiya Janata Party,78364,48.04,1
4834,403,RAMDULAR,Bharatiya Janata Party,84407,41.28,1

In [49]:
df[df.Rank==1]

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1
9,2,MUKESH CHOUDHARY,Bharatiya Janata Party,104114,38.47,1
21,3,RAJEEV GUMBER,Bharatiya Janata Party,143195,48.85,1
34,4,Ashu Malik,Samajwadi Party,107007,41.18,1
49,5,BRIJESH,Bharatiya Janata Party,93890,38.77,1
...,...,...,...,...,...,...
4786,399,RAMA SHANKAR SINGH,Bharatiya Janata Party,105377,44.51,1
4801,400,Dr. Anil Kumar Maurya,Bharatiya Janata Party,101277,40.46,1
4814,401,Bhupesh Chaubey,Bharatiya Janata Party,84496,40.29,1
4825,402,SANJEEV KUMAR,Bharatiya Janata Party,78364,48.04,1
4834,403,RAMDULAR,Bharatiya Janata Party,84407,41.28,1

In [57]:
df[(df['Party']=='Bharatiya Janata Party') & (df['Rank']==1)]['ac_no'].count()

255

In [65]:
df.sort_values(['Total Votes'],ascending=True) #asc
df.sort_values(['Total Votes'],ascending=False) #desc

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank
564,48,KANAK JAIN,Mihir Sena,49,0.02,13
2021,174,DHARMENDRA GUPTA,Voters Party International,63,0.03,14
2007,173,Naimish Pratap Narayan Singh,Rashtriya Rashtrawadi Party,64,0.02,15
2472,214,GUDDI DIXIT,RASHTRIYA VIKLANG PARTY,77,0.05,8
1228,104,Omendra Singh,Independent,77,0.04,16
...,...,...,...,...,...,...
2615,226,Ramratan Kushwaha,Bharatiya Janata Party,176550,52.99,1
2627,227,Manohar Lal,Bharatiya Janata Party,184778,54.86,1
717,62,TEJPAL SINGH NAGAR,Bharatiya Janata Party,218068,61.64,1
703,61,Pankaj Singh,Bharatiya Janata Party,244319,70.16,1
630,55,SUNIL KUMAR SHARMA,Bharatiya Janata Party,322882,67.03,1

In [69]:
df['Party'].unique()

array(['Samajwadi Party', 'Bharatiya Janata Party', 'Bahujan Samaj Party',
       'Indian National Congress', 'Aam Aadmi Party', 'None of the Above',
       'Independent', 'All India Majlis-E-Ittehadul Muslimeen',
       'Aazad Samaj Party (Kanshi Ram)', 'Inqalab Vikas Dal',
       'Jai Maha Bharath Party', 'Aamjan Ekta Party', 'Lok Dal',
       'Akhand Bharat Vikas Party', 'Bahujan Mukti Party',
       'Sanyukt Vikas Party', 'Log Party',
       'Bharatrashtra Democratic Party', 'Jansatta Party',
       'Rashtriya Lok Dal', 'India Janshakti Party',
       'SOCIAL DEMOCRATIC PARTY OF INDIA', 'Sarvjan Lok Shakti Party',
       'Jai Samta Party', 'Rashtriya Samaj Paksha',
       'Majdoor Kisan Union Party', 'Bharat Lok Sewak Party',
       'Bharatiya Sarvodaya Kranti Party', 'Shiv Sena',
       'Pichhra Samaj Party', 'Rashtra Nirman Party',
       'Rashtriya Samaj Dal (R)', 'Gareeb Kranti Party',
       'Rashtriya mahan Gantantra Party', 'Ambedkar Samaj Party',
       'Peoples Party of India (Democratic)', 'Loktanter Suraksha Party',
       'Bhartiya Jan Samman Party', 'Jan Adhikar Party',
       'Bhartiya Damitjan Party', 'Rashtrawadi Janlok Party (Satya)',
       'Samajwadi Andolan Party', 'Peace Party', 'Rashtriya Samanta Dal',
       'Nagrik Ekta Party', 'Lok Janshakti Party(Ram Vilas)',
       'SOCIALIST UNITY CENTRE OF INDIA (COMMUNIST)',
       'Rashtriya Parivartan Dal', 'Apna Dal (Soneylal)',
       'Minorities Democratic Party', 'Sabka Dal United',
       'Jagrook Janta Party', 'Janata Dal (United)',
       'Bharatiya Subhash Sena', 'Lok Shakti',
       'Pachchasi Parivartan Samaj Party', 'Vikas India Party',
       'Naki Bharatiya Ekta Party', 'All India Forward Bloc',
       'Bhartiya Janta Dal', 'Bhartiya Veer Dal',
       'Bharatiya Jan Jagriti Party', 'Lok Jan Shakti Party',
       'Apni Janta Party', 'Nyay Party', 'Samagra Vikas Party',
       'Sabse Achchhi Party', 'Mihir Sena', 'Vikassheel Insaan Party',
       'Bhartiya Tarak Samaj Party',
       'Indian Nationalist Alliance Party (India)',
       'Akhil Bhartiya Lok Dal', 'Secular Inqlab Party',
       'Hindusthan Nirman Dal',
       'Subhashwadi Bhartiya Samajwadi Party (Subhas Party)',
       'Vijay Bharat Party', 'Right to Recall Party',
       'Nagrik Chetna Party', 'Swatantra Jantaraj Party',
       'All India Hindustan Congress Party', 'Liberal Party of India',
       'Loktantrik Janshakti Party', 'Rashtriya Janta Party',
       'Sarv Samaj Party', 'Bahujan Andolan Party',
       'All India Minorities Front', 'Hindustan Utthan Party',
       'Nationalist Congress Party', 'Rashtriya Shoshit Samaj Party',
       'Swadeshi Hind Party', 'Communist Party of India',
       'Rashtriya Samta Vikas Party', 'Anarakshit Samaj Party',
       'Rashtriya Vyapari Party', 'Bharatiya Majdoor Janta Party',
       'Lokpriya Rashtrawadi Party', 'Indian Union Muslim League',
       'Adarsh Samaj Party', 'Jan Abhiyan Party', 'Saman Adhikar Party',
       'VANCHITSAMAJ INSAAF PARTY', 'Bharatiya Kisan Parivartan Party',
       'Moulik Adhikar Party', 'Bhartiya Shakti Chetna Party',
       'Adarsh Janta Party,', 'Rashtriya Surya Prakash Party',
       'Rashtriya Backward Party', 'Voters Party International',
       'Jansatta Dal Loktantrik', 'Bhartiya Jan Nayak Party',
       'Sanyukt Samajwadi Dal', 'Jan Seva Sahayak Party',
       'Garib Berozgar Vikas Party', 'Rashtra Uday Party',
       'Rashtriya Mazdoor Ekta Party', 'Jan Shakti Ekta Party',
       'Mera Adhikaar Rashtriya Dal', 'Rashtriya Teesara Vikalp Party',
       'Naitik Party', 'Bhartiya Krishak Dal',
       'Communist Party of India (Marxist-Leninist) (Liberation)',
       'Nai Kranti Party', 'Asankhya Samaj Party',
       'Rashtriya Lokshakti Party', 'Aam Aadmi Parivartan Party',
       'Loktantrik Janwadi Party', 'Bharat Swabhiman Party',
       'Uttar Pradesh Republican Party', 'Janta Rakshak Party',
       'Action Party', 'Bharatiya Jan Kranti Dal (Democratic)',
       'Prajashakti Party Samdarshi',
       "All India Peoples' Front (Radical)", 'Lok Bandhu Party',
       'Bhartiya Rashtrawadi Party', 'Awami Samta Party',
       'Sarv Rajya Party', 'Suheldev Bharatiya Samaj Party',
       'Manuvadi Party', 'Akhil Bhartiya Naitik Party', 'Bahujan Party',
       'Satya Bahumat Party', 'Socialist Party (India)', 'Al-Hind Party',
       'RASHTRIYA VIKLANG PARTY', 'Bhartiya Samta Party',
       'Manviya Bharat Party', 'Bahujan Awam Party',
       'Gandhiyan Peoples Party', 'Samdarshi Samaj Party',
       'Rashtriya Rashtrawadi Party', 'Kishore Raj Party',
       'Rashtriya Jatigat Aarakshan Virodhi Party',
       'Apna Bharatiya Sanatan Party', 'Manavtawadi Kranti Dal',
       'Bhartiya Sarvdharm Party', 'Samaj Sevak Party',
       'Bharatiya Jan Morcha Party', 'Janta Brigade Party',
       'Suraksha Samaj Party', 'Bhartiya Dharmanirpeksha Party',
       'Aam Janta Party (India)', 'Akhil Bhartiya Jansatta Party',
       'Parivartan Samaj Party', 'Akhil Bhartiya Apna Dal',
       'Hindustan Samaj Party', 'Bhartiya Panchsheel Party',
       'Pragatisheel Samaj Party', 'Vikassheel Janta Party',
       'India Praja Bandhu Party', 'Rashtrawadi Party of India,',
       'Rashtriya Democratic Front', 'Apna Desh Party',
       'Most Backward Classes Of India', 'Bharatiya Nagrik Party',
       'Swatantra Indian Labour Party', 'Vikas Insaf Party',
       'Bhartiya Vanchitsamaj Party', 'Kisan Majdoor Berojgar Sangh',
       'Proutist Bloc, India', 'Jan Sangh Party', 'Sabhi Jan Party',
       'Akhil Bharatiya Socialist Party', 'Rashtriya Ulama Council',
       'Rashtriya Janutthan Party', 'Arjak Adhikar Dal',
       'Nirbal Indian Shoshit Hamara Aam Dal', 'Desh Shakti Party',
       'Rashtriya Jan Manch', 'Rashtriya Sarvajan Party',
       'Bundelkhand Kranti Dal', 'Kisan Raksha Party,',
       'Bhartiya Lok Satta Party', 'Bundelkhand Vikas Dal',
       'Bharatiya Samta Samaj Party', 'Desh Bachao Party',
       'Apni Zindgi Apna Dal', 'Rashtriya Krantikari Samajwadi Party',
       'Sarvodaya Bharat Party', 'Apana Dal Balihari Party',
       'Bharatiya Sarvjan Vikas Party', 'Rashtriya Janshanti Party',
       'Apna Dal (Kamerawadi)', 'Kisan Party (Loktantrik)',
       'Atal Janshakti Party', 'Meydhaa Party', 'Samarth Kisan Party',
       'Yuva Vikas Party', 'Jan Jan (United) Party', 'Samyak Party',
       'Ambedkarite Party of India', 'Lok Samaj Party',
       'Bhartiya Kamgar Party', 'Bharat Vaibhav Party',
       'Janadhar Shakti Party', 'Pragatisheel Manav Samaj Party',
       'Sanatan Sanskriti Raksha Dal',
       'National Democratic Peoples Front', 'Rashtravadi Vikas Party',
       'Ambedkar Yug Party', 'Jan Kalyan Party',
       'Communist Party of India (Marxist)',
       'Bhartiya Drishtigochar Party,', 'Rashtrawadi Kisan Kranti Dal',
       'Rashtriya Bhagidari Party', 'Jan Adhikar Party (Loktantrik)',
       'Adarshwaadi Congress Party', 'Rashtriya Jan Sahyog Party',
       'Sarvajan Hitay Party', 'Bahujan Maha Party',
       'Rashtriya Jantantrik Bharat Vikas Party', 'Republican Sena',
       'Samrat Ashok Sena Party', 'Nationalist Janshakti Party',
       'Samajhdar Party', 'Bharatiya Eklavya Party', 'Abhay Samaj Party',
       'Republican Bahujan Sena', 'Bharat Mahaparivar Party',
       'Janhit Kisan Party', 'Sarvjan Awaz Party',
       'Indian National League', 'Shoshit Samaj Dal',
       'Loktantrik Janta Dal', 'Bharatiya Apna Samaj Party',
       'Bhartiya Kisan Union Samaj Party', 'Lokpriya Samaj Party',
       'Adim Bhartiya Dal', 'Aam Janata Party',
       'Bharatiya Swajivi Nagrik Party', 'Satya Kranti Party',
       'Rastriya Hind Samaj Party', 'Bhartiya Sarvjan Party',
       'Moderate Party', 'Hindu Samaj Party', 'Apna Dal United Party',
       'Hindustan Janmorcha', 'Rashtrawadi Janwadi Manch',
       'Jan Raajya Party', 'Bhartiya Sabka Dal',
       'Bhartiya Gadar Party (S)',
       'Bahujan Kranti Party (Marxwad-Ambedkarwad)',
       'Sarva Samaj Janata Party', 'Watan Janta Party',
       'Janta Kranti Party (Rashtravadi)', 'Janlok Vikas Party',
       'Bharatiya Suheldev Janata Party', 'Rashtriya Yuva Morcha Dal',
       'Swadesh Jan Sewak Party', 'Hum Sabki Party',
       'Aapki Apni Party (Peoples)', 'Bharatiya Nav Kranti Party',
       'Rashtriya Jan Gaurav Party', 'Moolniwasi Samaj Party',
       'Samaj Parivartan Party',
       'Marxist Communist Party of India (United)', 'Hamdard Party',
       'Rashtriya Lok Janta Party', 'Samagra Utthan Party',
       'Rashtriya Krishak Dal', 'Janta Raj Party',
       'Sarvjan Sanatan Party', 'Rashtriya Vikas Manch Party',
       'Insaafwadi Party', 'Swarna Bharat Party',
       'Bhartiya Manav Samaj Party', 'Anjaan Aadmi Party',
       'Gareeb Samana Party', 'Bhartiya Republican Party (Insan)'],
      dtype=object)

In [71]:
df['Party'].nunique()

289

In [75]:
df['Total Votes'].mean()

19022.26955624355

In [82]:
df['square_col']=df['Rank']**2

In [90]:
df['col1']=(df['Total Votes']*df['% of Votes']).round(1)

In [94]:
df.head()

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank,square_col,col1
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1,1,6431066.5
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2,4,3318377.2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3,9,722101.5
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4,16,946.6
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5,25,476.4

In [114]:
df[df['Rank']==1].drop_duplicates(['ac_no'],keep='last')

,ac_no,Candidate,Party,Total Votes,% of Votes,Rank,square_col,col1
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1,1,6431066.5
9,2,MUKESH CHOUDHARY,Bharatiya Janata Party,104114,38.47,1,1,4005265.6
21,3,RAJEEV GUMBER,Bharatiya Janata Party,143195,48.85,1,1,6995075.8
34,4,Ashu Malik,Samajwadi Party,107007,41.18,1,1,4406548.3
49,5,BRIJESH,Bharatiya Janata Party,93890,38.77,1,1,3640115.3
...,...,...,...,...,...,...,...,...
4786,399,RAMA SHANKAR SINGH,Bharatiya Janata Party,105377,44.51,1,1,4690330.3
4801,400,Dr. Anil Kumar Maurya,Bharatiya Janata Party,101277,40.46,1,1,4097667.4
4814,401,Bhupesh Chaubey,Bharatiya Janata Party,84496,40.29,1,1,3404343.8
4825,402,SANJEEV KUMAR,Bharatiya Janata Party,78364,48.04,1,1,3764606.6
4834,403,RAMDULAR,Bharatiya Janata Party,84407,41.28,1,1,3484321.0

In [120]:
df=df.rename(columns={'Total Votes':'total_votes','% of Votes':'perc_votes'})

In [ ]:
df.rename(columns={'Total Votes':'total_votes','% of Votes':'perc_votes'},inplace=True)

In [124]:
df.head()

,ac_no,Candidate,Party,total_votes,perc_votes,Rank,square_col,col1
0,1,Umar Ali Khan,Samajwadi Party,134513,47.81,1,1,6431066.5
1,1,Naresh Saini,Bharatiya Janata Party,96633,34.34,2,4,3318377.2
2,1,Rais Malik,Bahujan Samaj Party,45075,16.02,3,9,722101.5
3,1,Poonam Kamboj,Indian National Congress,1632,0.58,4,16,946.6
4,1,Sushil Kumar,Aam Aadmi Party,1162,0.41,5,25,476.4

In [ ]:
pd.read_csv()
.head()
.tail()
info()
describe()
sort_values()
drop_duplicates()
rename()
creating new columns
applying filter in data
type
round
mean
unique()
nunique()

group by 
pivot 
loc
iloc
count()
fillna()
dtypes
astype()
reset_index()
set_option()
isin()

In [209]:
# df.groupby(['Party'])['Candidate'].count()

In [130]:
349/403

0.8660049627791563

In [146]:
x=tuple(df[df['Rank']==1].groupby(['Party'])['Candidate'].count().reset_index()['Party'])

In [134]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 1000)

In [ ]:
for only those parties who have won atleast one seat , show me party name in rows  and rank in columns

In [153]:
df1=df[df['Party'].isin(x)].groupby(['Party','Rank'])['ac_no'].count().reset_index()

In [161]:
df1.pivot(index='Rank',columns='Party',values='ac_no').reset_index().fillna('')

Party,Rank,Apna Dal (Soneylal),Bahujan Samaj Party,Bharatiya Janata Party,Indian National Congress,Jansatta Dal Loktantrik,Nirbal Indian Shoshit Hamara Aam Dal,Rashtriya Lok Dal,Samajwadi Party,Suheldev Bharatiya Samaj Party
0,1,12.0,1.0,255.0,2.0,2.0,6.0,8.0,111.0,6.0
1,2,5.0,18.0,115.0,4.0,,4.0,19.0,223.0,8.0
2,3,,348.0,5.0,25.0,,,5.0,11.0,3.0
3,4,,34.0,1.0,194.0,2.0,,1.0,2.0,
4,5,,2.0,,106.0,2.0,,,,
5,6,,,,44.0,,,,,
6,7,,,,21.0,1.0,,,,
7,8,,,,1.0,3.0,,,,1.0
8,9,,,,1.0,,,,,
9,10,,,,1.0,1.0,,,,
10,11,,,,,,,,,1.0
11,12,,,,,1.0,,,,
12,13,,,,,2.0,,,,
13,14,,,,,1.0,,,,
14,16,,,,,1.0,,,,

In [171]:
df.dtypes

ac_no            int64
Candidate       object
Party           object
total_votes      int64
perc_votes     float64
Rank             int64
square_col       int64
col1           float64
dtype: object

In [175]:
df['perc_votes']=df['perc_votes'].astype(int)

In [179]:
df.head()

,ac_no,Candidate,Party,total_votes,perc_votes,Rank,square_col,col1
0,1,Umar Ali Khan,Samajwadi Party,134513,47,1,1,6431066.5
1,1,Naresh Saini,Bharatiya Janata Party,96633,34,2,4,3318377.2
2,1,Rais Malik,Bahujan Samaj Party,45075,16,3,9,722101.5
3,1,Poonam Kamboj,Indian National Congress,1632,0,4,16,946.6
4,1,Sushil Kumar,Aam Aadmi Party,1162,0,5,25,476.4

In [ ]:
.loc
.iloc

In [183]:
df.loc[df['Rank']==1, 'winning_col']='winner'

In [189]:
df['winning_col']=df['winning_col'].fillna('others')

In [193]:
df.head()

,ac_no,Candidate,Party,total_votes,perc_votes,Rank,square_col,col1,winning_col
0,1,Umar Ali Khan,Samajwadi Party,134513,47,1,1,6431066.5,winner
1,1,Naresh Saini,Bharatiya Janata Party,96633,34,2,4,3318377.2,others
2,1,Rais Malik,Bahujan Samaj Party,45075,16,3,9,722101.5,others
3,1,Poonam Kamboj,Indian National Congress,1632,0,4,16,946.6,others
4,1,Sushil Kumar,Aam Aadmi Party,1162,0,5,25,476.4,others

In [199]:
df.loc[df['Party']=='Samajwadi Party','Party']='SP'

In [203]:
df.head()

,ac_no,Candidate,Party,total_votes,perc_votes,Rank,square_col,col1,winning_col
0,1,Umar Ali Khan,SP,134513,47,1,1,6431066.5,winner
1,1,Naresh Saini,Bharatiya Janata Party,96633,34,2,4,3318377.2,others
2,1,Rais Malik,Bahujan Samaj Party,45075,16,3,9,722101.5,others
3,1,Poonam Kamboj,Indian National Congress,1632,0,4,16,946.6,others
4,1,Sushil Kumar,Aam Aadmi Party,1162,0,5,25,476.4,others

In [207]:
df['total_votes'].iloc[1]

96633

In [ ]:
group by 
pivot 
loc
iloc
count()
fillna()
dtypes
astype()
reset_index()
set_option()
isin()